:root {
  --body-background-color: #FD8B8B;
  --body-text-color: #000000;
  --card-background-color: #FD8B8B;
  --nav-background-color: #FD8B8B;
  --nav-border-bottom-color: #141415;
  --nav-current-border-bottom-color: #FAFAFA;
  --card-border-color: #FFFFFF;
}
